<mat-card class="col-md-10 offset-md-1">
  <div class="container text-center mt20">
    <h1><strong> Update Category</strong></h1>
  </div>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form *ngIf="categories" (ngSubmit)="updateCategory()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>
              <input
                required
                [(ngModel)]="categories.title"
                name="title"
                matInput
                placeholder="Enter Title here"
              />
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                placeholder="Enter Description here"
                rows="10"
                [(ngModel)]="categories.description"
                name="description"
                required
              ></textarea>
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="accent" type="submit">
                <mat-icon class="mr-2">edit</mat-icon>Update Category
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
